.submission-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.submission-title {
  text-align: center;
  color: black;
  margin: 0;
  font-size: 3em;
}

.student-form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  align-items: center;
}

.url {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.url-input {
  height:5vh;
  width: 40vw;
}

.helpful {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.time {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.difficulty {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.feedback {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.feedback-input {
  height: 20vh;
  width: 40vw;
}

label {
  margin: 0 1vw 0 0;
}

.button-input {
  margin: 2vh;
  height: 5vh;
  width: 10vw;
  font-size: 2em;
}