.home-body {
  height: 70vh;
  padding-left: 32px;
  padding-right: 32px;
}

h1 {
  color: black;
  font-size: 5em;
}

.activity-item {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 4px;
  
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
  color: grey;
}

a:visited {
  color: black;
  text-decoration: none;
}